.hero {
  height: 50vh;
  background-color: $bgPrimary-color;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  @include position(relative, null, null, null, null);
  animation: translate-hero 3s ease;
}

@keyframes translate-hero {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero .hero-Text h1 {
  @include font("size", 50px);
  @include margin("left", 5em);
  @include padding("top", 1em);
  font-weight: $Grassetto;
  line-height: 66px;
  letter-spacing: 1px;
}
.hero .hero-Text > p {
  @include position(absolute, 10em, null, null, 18em);
  color: $text-color-clear;
  @include font("size", 20px);
}
.hero .hero-Text button {
  @include position(absolute, 18em, null, null, 36em);
  @include button-sfondo-blu();
}
.hero .hero-Text .info-user {
  display: flex;
  @include position(absolute, 25em, null, null, 25em);
}
.hero .hero-Text .info-user .info {
  @include margin("right", 3rem);
}
.hero .hero-Text .info-user .info h4 {
  font-weight: $Grassetto;
}
.hero .hero-Text .info-user .info > p {
  color: $text-color-clear;
}
.hero img {
  @include padding("top", 1em);
  width: 27em;
  height: 27em;
  border-radius: 50%;
}
.main-content h2 {
  text-align: center;
  @include padding("top", 2em);
  font-weight: $Grassetto;
  @include font("size", 20px);
}
.main-content .container-workout-info .info > p {
  line-height: 26px;
  background-color: $bgPrimary-color;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 500ms ease;
  color: $text-color-clear;
  &:hover {
    background-color: #0281d6;
  }
}
.main-content .container-workout-info .info strong {
  font-weight: $Grassetto;
  color: $text-color-dark;
}
.main-content .container-workout-info .Cycle-Day {
  line-height: 26px;
  border: 10px solid $color-Primary;
  border-radius: 200px;
  width: 5em;
  text-align: center;
  padding: 20px;
}
.main-content .container-workout-info .Cycle-Day strong {
  font-weight: $Grassetto;
}
.main-content .container-workout-info {
  display: flex;
  justify-content: space-around;
  @include margin("top", 5em);
}
